<ion-header>
  <ion-navbar>
    <ion-title>游乐万花筒</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        <p><b>
          {{showPOI.name}}
        </b>
        </p>
      </ion-card-title>
      <div>
        <ion-item>
          <ion-icon name="pin" item-left large></ion-icon>
          <p text-wrap>
            <b>位置</b>
            <br/>
            {{showPOI.district}}
            <br/>
            {{showPOI.address}}
          </p>
        </ion-item>
        <ion-item>
          <ion-icon name="cloud" item-left large></ion-icon>
          <p text-wrap>
            <b>天气</b> {{" "+showPOI.weather["weather"]}}
            <br/>
            <b>温度</b> {{" "+showPOI.weather["temperature"]}} &nbsp; &#176;C
            <br/>
            <b>风向</b> {{" "+showPOI.weather["winddirection"]}}
            <br/>
            <b>风力</b> {{" "+showPOI.weather["windpower"]}} 级
            <br/>
            <b>湿度</b> {{" "+showPOI.weather["humidity"]}} %RH
            <br/>
            <b>最后更新于</b> {{" "+showPOI.weather["reporttime"]}}
          </p>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        <h2>
          路径导航
        </h2>
      </ion-card-title>
      <ion-item>
        <ion-label>怎么去？</ion-label>
        <ion-icon *ngIf="chooseNav==='car'" name="car" item-right large></ion-icon>
        <ion-icon *ngIf="chooseNav==='walk'" name="walk" item-right large></ion-icon>
        <ion-icon *ngIf="chooseNav==='bus'" name="bus" item-right large></ion-icon>
        <ion-select [(ngModel)]="chooseNav" interface="action-sheet" cancelText="取消">
          <ion-option *ngFor="let nav of navs" [value]="nav.value">{{nav.text}}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button full color="primary" (click)="showNav()">
        去吧
      </button>
    </ion-card-content>
  </ion-card>

  <div *ngIf="navContent!==null">
    <ion-item>
      <ion-icon name="compass" item-left large></ion-icon>
      <p text-wrap>
        <b>从</b><br/>当前地点
        <br/>
        <b>去</b><br/>
        {{navContent.destinationPOI.name}}
      </p>
    </ion-item>
    <ion-item>
      <ion-icon name="map" item-left large></ion-icon>
      <p text-wrap *ngIf="navContent.distance!=='-1'">
        <b>距离</b><br/>
        {{navContent.distance}}米
      </p>
      <p text-wrap *ngIf="navContent.distance==='-1'">
        <b>距离</b><br/>
        未知距离
      </p>
    </ion-item>
    <ion-item *ngIf="navContent.way!=='bus'">
      <ion-icon name="time" item-left large></ion-icon>
      <p text-wrap *ngIf="navContent.duration!=='-1'">
        <b>预计时间</b><br/>
        {{navContent.duration}}秒
      </p>
      <p text-wrap *ngIf="navContent.duration==='-1'">
        <b>预计时间</b><br/>
        未知时间
      </p>
    </ion-item>

    <ion-item *ngIf="navContent.way==='car'">
      <ion-icon name="car" item-left large></ion-icon>
      <p text-wrap>
        <b>收费</b><br/>
        {{navContent.tolls}}元
        <br/>
        <b>收费路段</b><br/>
        {{navContent.toll_distance}}元
        <br/>
        <b>红绿灯</b><br/>
        {{navContent.traffic_lights}}个
      </p>
    </ion-item>

    <ion-item *ngIf="navContent.way==='bus' && navContent.taxi_cost!=='-1'">
      <ion-icon name="card" item-left large></ion-icon>
      <p text-wrap>
        <b>打车预计费用</b><br/>
        {{navContent.taxi_cost}}元
      </p>
    </ion-item>

    <ion-list *ngIf="navContent.way==='bus'">
      <button ion-item *ngIf="navContent.transits.length===0">
        暂无推荐公交路线，请尝试其它交通方式
      </button>
      <button ion-item *ngFor="let transit of navContent.transits; let i=index;" (click)="seeStep(transit,'bus')">
        <h2>路径{{i+1}}</h2>
        <p>
          <b>价格:</b>{{transit.cost}}元&nbsp; &nbsp;
          <b>预期时间:</b>{{transit.duration}}秒<br/>
        </p>
      </button>
    </ion-list>

    <ion-list *ngIf="navContent.way==='car'">
      <button ion-item (click)="seeStep(navContent.steps,'car')">
        点击查看详细信息
      </button>
    </ion-list>

    <ion-list *ngIf="navContent.way==='walk'">
      <button ion-item *ngIf="navContent.distance==='-1'">
        暂无推荐步行路线，请尝试其它交通方式
      </button>
      <button ion-item *ngIf="navContent.distance!=='-1'" (click)="seeStep(navContent.steps,'walk')">
        点击查看详细信息
      </button>
    </ion-list>
  </div>

</ion-content>
